<div class="row">
  <div class="col l4 offset-l4 s12">
    <h5>Edit League</h5>
    <%= form_for @league do |f| %>
      <%= render partial: "form_fields", locals: { f: f } %>
      <%= f.submit "Submit League Changes", class: "btn btn-poker" %>
    <% end %>
  </div>
</div>
