<div class="row">
  <div class="col l4 offset-l4 s12">
    <h5>Edit Player</h5>
    <%= form_for @participant do |f| %>
      <%= render partial: "form_fields", locals: { f: f } %>
      <%= f.submit "Update Player!" %>
    <% end %>
  </div>
</div>
