<div class="row">
  <div class="col l4 offset-l4 s12">
    <h5>Create A New Player</h5>
    <%= form_for @participant do |f| %>
    <%= render partial: "form_fields", locals: { f: f } %>
    <%= f.submit "Create Player!", class: "btn btn-poker" %>
    <% end %>
  </div>
</div>
