<%= link_to "Create League", new_league_path, class: "btn btn-poker" %>
<div class="row">
  <% if @user.no_leagues %>
    <h3>You have no leagues. Create one to get started.</h3>
  <% else %>
    <% @leagues.each do |league| %>
      <%= render partial: "shared/league_card", locals: { league: league } %>
    <% end %>
  <% end %>
</div>
