<div class="input-field">
  <%= f.text_field :email %>
  <%= f.label :email, "E-Mail Address" %>
</div>
<div class="input-field">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>
