<ul id="dropdown1" class="dropdown-content">
  <li><a class="nav-link" href="#!">one</a></li>
  <li><a class="nav-link" href="#!">two</a></li>
  <li class="divider"></li>
  <li><a class="nav-link" href="#!">three</a></li>
</ul>

<nav class="grey lighten-4">
  <div class="nav-wrapper container">
    <a href="#!" class="brand-logo"><span>POKER</span>RANK</a>
    <a href="#" data-activates="mobile-demo" class="nav-link button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a class="nav-link" href="sass.html">Sass</a></li>
      <li><a class="nav-link" href="badges.html">Components</a></li>
      <li><a class="nav-link" href="collapsible.html">Javascript</a></li>
      <li><a class="nav-link" href="mobile.html">Mobile</a></li>
      <li><a class="nav-link dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a class="nav-link" href="sass.html">Sass</a></li>
      <li><a class="nav-link" href="badges.html">Components</a></li>
      <li><a class="nav-link" href="collapsible.html">Javascript</a></li>
      <li><a class="nav-link" href="mobile.html">Mobile</a></li>
    </ul>
  </div>
</nav>
