$primary-gold: #C89C00;
$secondary-grey: #5D5D5D;
$tertiary-grey: #C5C5C5;
$quaternary-gold: #7C6100;
// quinary

h1, h2, h3, h4, h5, h6 {
  color: $secondary-grey;
}

nav a.brand-logo {
  font-size: 1.4em;
  color: $secondary-grey;
  // letter-spacing: 0.1em;
  span {
    color: $primary-gold;
    font-weight: bold;
  }
}

a.nav-link, .dropdown-content li > a.nav-link {
  color: #999;
  font-size: 0.7em;
  letter-spacing: 0.2em;
  font-weight: 300;
  text-transform: uppercase;
}

main.container {
  margin-top: 15px;
}

.btn.btn-poker {
  background-color: $primary-gold;
  &:hover {
    background-color: $quaternary-gold;
  }
}

 .input-field label {
   color: $secondary-grey !important;
 }

 .input-field input[type=text]:focus + label {
   color: $secondary-grey !important;
 }

 .input-field input[type=text]:focus, .input-field input[type=password]:focus {
   border-bottom: 1px solid $primary-gold !important;
   box-shadow: 0 1px 0 0 $primary-gold !important;
 }

@media screen and (max-width: 1000px) {
  a.nav-link, .dropdown-content li > a.nav-link {
    font-size: 0.1em;
    letter-spacing: 0.2em;
    font-weight: 300;
    text-transform: uppercase;
  }
}
