<div class="scored-players">
  <ul class="collection with-header">
    <li class="collection-header">
      <h4>Finished Players</h4>
    </li>
    <% @game.finished_players.each do |player| %>
      <% present(player.participant) do |participant| %>
        <li class="collection-item"><span class="badge poker-gold">
          <%= player.finishing_place %></span><%= participant.full_name %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
