<div class="scored-players">
  <ul class="collection with-header">
    <li class="collection-header">
      <h4>Scored Players</h4>
    </li>
    <% @game.finished_players.each do |player| %>
      <% present(player.participant) do |participant| %>
        <li class="collection-item">
          <span class="badge poker-gold"><%= player.finishing_place %></span>
          <%= participant.full_name %>
          <div>
            <%= link_to "[Edit]", edit_league_game_player_path(@league, @game, player), class: "close-link" %>
            <span class="tooltipped" data-tooltip="are you really sure you want to delete this?!">
              <%= button_to "[Delete]", league_game_player_path(@league, @game, player), method: :delete, class: "close-button delete"  %>
            </span>
            <!-- <span class="tooltipped" data-tooltip="are you really sure you want to delete this?!"><%# link_to "[Delete]", "#", class: "close-link delete"  %></span> -->
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
